.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.square {
  width: 50px;
  height: 50px;
  background-color: #ffe5e5;
  outline: 1px solid black;
}

.colored {
  background-color: #222;
}

.change-size-btn {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 30px;
  border-radius: 6px;
  background-color: #f8f8f8;
  color: #222;
}
