.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.square {
  width: 50px;
  height: 50px;
  background-color: #ffe5e5;
  outline: 1px solid black;
}

.colored {
  background-color: #222;
}
